asyncio==4.0.0
dotenv==0.9.9
fastapi==0.116.1
groq==0.31.0
httpx==0.28.1
llama-index==0.13.0
llama-index-embeddings-huggingface==0.6.0
llama-index-llms-groq
pinecone==7.3.0
psutil==7.0.0
pydantic==2.11.7
pydantic_core==2.33.2
PyMuPDF==1.26.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
requests==2.32.4
sentence-transformers==5.0.0
sympy==1.14.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.4
torch==2.7.1
transformers==4.54.1
typing==3.7.4.3
uvicorn==0.35.0

